[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
pandas = "*"
matplotlib = "*"
pyqt5 = "==5.10.1"
scikit-learn = "==0.19.2"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.7"
